<div class="col-md-6 col-md-offset-3">
  <div class="well">

    <legend><h3>Common Questions</h3></legend>

    <p><strong>Q: Can I edit a bet after it's been created?</strong></p>
    <p>A: No.</p>

    <p><strong>Q: What if there's a tie? Or I want my bet to have first and second place winners?</strong></p>
    <p>A: The current version of Friendly Bets is winner-take-all. We're working on adding support for different betting structures in the next release.</p>

    <p><strong>Q: Who can close a bet? Who decides who wins?</strong></p>
    <p>A: The creator of the bet is the only user who can designate a winner and close the bet. Other participants should use the comments to post photos or other information influencing a bet's outcome before the bet is closed.</p>

    <p><strong>Q: Does Friendly Bets access my financial details or Venmo account?</strong></p>
    <p>A: No. Friendly Bets will never ask you for this information. When a bet is closed, those owing money are emailed links to pay through Venmo. This links are a convenience, and Friendly Bets does not enforce that participants use them over other forms of payment.</p>

    <p><strong>Q: I won the bet, but no one has paid up. What now?</strong></p>
    <p>A: Nothing. We're not interested in policing payments, only in offering a fun platform for organizing your betting with your friends.</p>
  </div>
</div>
