<% if current_user %>

  <h1>Welcome back to Friendly Bets, <%= current_user.email %>!</h1>

<% else %>

  <h1>Welcome to Friendly Bets!</h1>
  <p>Keep track of wagers with friends.</p>
  <p>How does it work?</p>
  <ol>
    <li>Create a bet.</li>
    <li>Invite friends to join the bet.</li>
    <li>Wait for a better to submit photo evidence.</li>
    <li>Settle up.</li>
  </ol>

<%end%>
