<div class="jumbotron">
<% if current_user %>

  <h1>Welcome to Friendly Bets, <%= current_user.email %>!</h1>
  <p>Get started by creating a new bet and inviting your friends!</p>
      <%= link_to "Create a new bet", new_bet_path, class: "btn btn-warning" %>

<% else %>

  <h1>Welcome to Friendly Bets!</h1>
  <p>Keep track of wagers with friends.</p>
  <p>How does it work?</p>
  <ol>
    <li>Create a bet.</li>
    <li>Invite friends to join the bet.</li>
    <li>Wait for a better to submit photo evidence.</li>
    <li>Settle up.</li>
  </ol>

      <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-warning" %>

<% end %>
</div>
